*
{
	margin: 0;
	padding: 0;
}
/*--------Navigation---------*/
#nav-bar
{
     position: sticky;
     top: 0;
     z-index: 10;
     border-radius: 20pt;
}
.navbar-brand img
{
	height: 100px;
	padding-left: 30px;
}
.navbar-nav li	
{
	padding: 5 10px;
}
.navbar-nav li a	
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}

.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #efefef!important;
	font-weight: 600;
	font-size: 16px;
}

/*--------Slider--------*/
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	    font-size: 30px;
}


/*--------Menu--------*/
#menu
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#menu .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.menu-content
{
	padding-top: 20px;
}
.skills-bar p
{
	margin-bottom: 25px;
	font-weight: 600;
	margin-top: 25px;
}
.progress-bar
{
	border-radius: 16px; 
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 10px;
}
/*-----Services-------*/
#services
{
	background-image: url("3.jpg");
	background-color: #00000000;
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10	px;
	font-family: "impact";
}
#services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.services
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 100px;
	width: 100px;
	border: 2px solid #efefef !important;
    border-radius: 90%;
}
#services p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-4:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
/*------work------*/
#portfolio
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
	font-family: "impact";
}
h1::after
{
	content: '';
	background: #555;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.portfolio
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 100px;
	width: 100px;
	border: 2px solid #efefef !important;
    border-radius: 90%;
}
#portfolio p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.portfolio .col-md-4:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
header.masthead .intro-text .intro-heading {
    font-size: 100px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family:
    "impact";
}
header.masthead .intro-text .intro-lead-in {
    font-size: 30px;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 50px;
    font-family:
    "impact";
}
#food
{
	background-image: url("food.jpg");
	background-color: #00000000;
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#food h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10	px;
	font-family: "impact";
}
#food h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 80px;
	margin: 20px auto 5px;
}
.food
{
	margin-top: 40px;
}
#food button{	
	 position: absolute;
    top: 50%;
    right: -9%;	
	padding: 10px 20px;
	margin: 5px;
	background-color: #555 !important;
	color: #efefef;
	border: none;
	outline: none;
}
#ask button
{
 position: absolute;
    top: 50%;
    right: 40%;	
	padding: 10px 20px;
	margin: 5px;
	background-color: #555 !important;
	color: #efefef;
	border: none;
	outline: none;
}
button
{
	padding: 10px 20px;
	margin: 5px;
	background-color: #555 !important;
	color: #efefef;
	border: none;
	outline: none;
}



